//
//  Debug.xcconfig
//  ChatApp
//
//  Created by Станислава on 18.05.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "Secrets.xcconfig"
#include "Pods/Target Support Files/Pods-ChatApp/Pods-ChatApp.debug.xcconfig"
